@layer components {
  .in-page-nav-item:before {
    background-color: theme('colors.theme-bg-alt');
    border-left: 2px solid theme('colors.theme-bg-alt');
    bottom: 0;
    content: '';
    left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
  }

  .in-page-nav-item:first-child:before {
    top: 1em;
  }

  .in-page-nav-item:last-child:before {
    bottom: calc(100% - 1em);
  }

  .in-page-nav-item:after {
    background-color: theme('colors.theme-bg');
    border-radius: 100%;
    border: 2px solid theme('colors.theme-border');
    content: '';
    display: block;
    height: theme('spacing.3');
    left: 0;
    position: absolute;
    top: 0.5em;
    transform: translateX(-50%);
    width: theme('spacing.3');
  }

  .in-page-nav-item--scrolled-to:before {
    background-color: theme('colors.teal.DEFAULT');
    border-color: theme('colors.teal.DEFAULT');
  }
}
