
  /* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.ytLite {
  position: relative;
  background-size: contain;
}  
.ytLite::after {
    content: '';
    display: block;
    padding-bottom: calc(100% / (16 / 9));
    background-size: contain
  }
  .ytLite > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* play button */
  .ltyPlaybtn {
    width: 70px;
    height: 70px;
    background-color: #212121;
    z-index: 1;
    opacity: 0.8;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  }
  .ytLite:hover > .ltyPlaybtn {
    background-color: var('red.500');
    opacity: 1;
  }
  /* play button triangle */
  .ltyPlaybtn:before {
    content: '';
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent #fff;
  }

  .ltyPlaybtn, .ltyPlaybtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  /* Post-click styles */
  .ltyActivated-activated {
    cursor: unset;
  }
  .ltyActivated::before,
  .ltyActivated > button {
    opacity: 0;
    pointer-events: none;
  }