@layer components {
  .skip-to-main {
    @apply bg-primary-500 focus:bg-primary-800 hover:bg-primary-800 left-gutter absolute z-50 inline-block -translate-y-full transform-gpu px-12 py-4 text-sm font-semibold text-white transition-transform focus:translate-y-0;
  }
  .main-nav {
    @apply bg-theme-bg fixed inset-0 bottom-0 top-32 items-center;
  }

  /* Nav Item Hovers/Active State */
  @screen lg {
    .nav-item--button:after {
      content: '';
      height: 3px;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transition: all 0.2s ease-in-out;
      background: theme('colors.theme-link-hover');
    }

    .nav-item--button:hover:after,
    .nav-item--button-active:after {
      width: 100%;
      left: 0;
    }
  }

  .hamburger-bar {
    @apply bg-currentColor block h-1 w-full pt-1 transition;
  }
  /* Hamburger states */
  .hamburger-bar-middle {
    transform: rotate(135deg);
    margin-top: 6px;
  }

  .hamburger-bar-middleclone {
    transform: rotate(-135deg);
  }
}
