
  .side-bar-nav-title {
    @apply border-2 bg-theme-bg-alt sm:bg-theme-bg border-theme-border sm:border-0;
    padding: 12px 10px 8px 10px;
  }

  .sidebarNavItem {
    display: block;
  }
  .sidebarNavItem:before {
    background-color: var(--colors-chakra-body-bg);
    border-left: 2px solid var(--colors-chakra-subtle-bg);
    bottom: 0;
    content: '';
    left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
  }

  .sidebarNavItem:first-child:before {
    top: 1em;
  }

  .sidebarNavItem:last-child:before {
    bottom: calc(100% - 1em);
  }

  .sidebarNavItem:after {
    background-color: var(--colors-chakra-body-bg);
    border-radius: 100%;
    border: 2px solid var(--colors-chakra-border-color);
    content: '';
    display: block;
    height: theme('spacing.3');
    left: 0;
    position: absolute;
    top: 0.5em;
    transform: translateX(-50%);
    width: theme('spacing.3');
  }

  .sidebarNavItem--scrolled-to:before {
    background-color: var(--colors-primary.500);
    border-color: var(--colors-primary.500);
  }
  .sidebarNavItem.current:after {
    background-color: var(--colors-chakra-border-color);
  }