@layer components {
  /* Nav Item Hovers/Active State */
  @screen lg {
    .nav-item--button:after {
      content: '';
      height: 3px;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transition: all 0.2s ease-in-out;
      background: theme('colors.violet.DEFAULT');
    }

    .nav-item--button:hover:after,
    .nav-item--button-active:after {
      width: 100%;
      left: 0;
    }
  }

  /* Hamburger states */
  .hamburger-bar-middle {
    transform: rotate(135deg);
    margin-top: 6px;
  }

  .hamburger-bar-middleclone {
    transform: rotate(-135deg);
  }
}
