@layer utilities {
  /**
   * Themes
   */
  .theme-light {
    --theme-bg-alt: theme('colors.gray.lightest');
    --theme-bg: theme('colors.white');
    --theme-outline: theme('colors.charcoal.DEFAULT');
    --theme-text-alt: theme('colors.gray.dark');
    --theme-text: theme('colors.charcoal.dark');
    --theme-border: theme('colors.gray.light');
    --theme-border-alt: theme('colors.gray.light');
    --theme-shadow: theme('boxShadow.DEFAULT');
    --theme-shadow-md: theme('boxShadow.md');
    --theme-shadow-lg: theme('boxShadow.lg');
    --theme-link-hover: theme('colors.violet.dark');
  }

  @variants dark {
    .theme-dark {
      --theme-bg-alt: theme('colors.gray.darkest');
      --theme-bg: theme('colors.charcoal.dark');
      --theme-outline: theme('colors.white');
      --theme-text-alt: theme('colors.gray.lightest');
      --theme-text: theme('colors.white');
      --theme-border: theme('colors.gray.dark');
      /* Only used in this one instance, will leave this as hex for now. */
      --theme-border-alt: #505050;
      --theme-shadow: theme('boxShadow.dark');
      --theme-shadow-md: theme('boxShadow.md-dark');
      --theme-shadow-lg: theme('boxShadow.lg-dark');
      --theme-link-hover: theme('colors.teal.DEFAULT');
    }
  }

  /**
   * Headings
   */
  .heading-xl {
    @apply font-ltpro font-regular text-3xl md:text-4xl leading-none !important;
  }

  .heading-lg {
    @apply font-ltpro font-regular text-2xl md:text-3xl leading-tight !important;
  }

  .heading-md {
    @apply font-regular text-xl md:text-2xl leading-tight !important;
  }

  .heading-sm {
    @apply font-semibold text-base md:text-lg leading-tight !important;
  }

  .heading-xs {
    @apply font-semibold text-sm md:text-base leading-normal !important;
  }

  /**
   * Gutters
   */
  .px-gutter-all {
    @apply px-gutter md:px-gutter-md lg:px-gutter-lg !important;
  }

  /**
   * Scroll Offset
   */
  .scroll-to-offset * {
    scroll-margin-top: theme('spacing.36') !important;
  }

  .prose code:after,
  .prose code:before {
    content: '';
  }
}
