@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --color-whiteAlpha-200: rgba(255, 255, 255, 0.11);
  --color-whiteAlpha-300: rgba(255, 255, 255, 0.29);
  --color-whiteAlpha-400: rgba(255, 255, 255, 0.42);
  --color-whiteAlpha-500: rgba(255, 255, 255, 0.55);
  --color-whiteAlpha-600: rgba(255, 255, 255, 0.68);
  --color-whiteAlpha-700: rgba(255, 255, 255, 0.76);
  --color-whiteAlpha-800: rgba(255, 255, 255, 0.78);
  --color-whiteAlpha-900: rgba(255, 255, 255, 0.94);
  --color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --color-blackAlpha-200: rgba(0, 0, 0, 0.11);
  --color-blackAlpha-300: rgba(0, 0, 0, 0.29);
  --color-blackAlpha-400: rgba(0, 0, 0, 0.42);
  --color-blackAlpha-500: rgba(0, 0, 0, 0.55);
  --color-blackAlpha-600: rgba(0, 0, 0, 0.68);
  --color-blackAlpha-700: rgba(0, 0, 0, 0.76);
  --color-blackAlpha-800: rgba(0, 0, 0, 0.78);
  --color-blackAlpha-900: rgba(0, 0, 0, 0.94);
  --color-blue-50: #f4f7ff;
  --color-blue-100: #e1eaff;
  --color-blue-200: #c9d8ff;
  --color-blue-300: #9cb3fd;
  --color-blue-400: #6987f9;
  --color-blue-500: #4a65e8;
  --color-blue-600: #344bc3;
  --color-blue-700: #293ba1;
  --color-blue-800: #1f2d7f;
  --color-blue-900: #16215f;
  --color-cyan-50: #eafaff;
  --color-cyan-100: #c6f1ff;
  --color-cyan-200: #a0e3fd;
  --color-cyan-300: #5cc0f1;
  --color-cyan-400: #2695de;
  --color-cyan-500: #0873c8;
  --color-cyan-600: #0059a1;
  --color-cyan-700: #004783;
  --color-cyan-800: #003767;
  --color-cyan-900: #00294d;
  --color-danger-50: #fff5f4;
  --color-danger-100: #ffe4e2;
  --color-danger-200: #ffccc8;
  --color-danger-300: #ff9a94;
  --color-danger-400: #f4595a;
  --color-danger-500: #d92739;
  --color-danger-600: #b30426;
  --color-danger-700: #92001f;
  --color-danger-800: #730019;
  --color-danger-900: #580113;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #e9e9e9;
  --color-gray-200: #d8d8d8;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #8e8e8e;
  --color-gray-500: #717171;
  --color-gray-600: #535353;
  --color-gray-700: #3b3b3b;
  --color-gray-800: #282828;
  --color-gray-900: #212121;
  --color-green-50: #e8fcf5;
  --color-green-100: #bef6e3;
  --color-green-200: #8bebd0;
  --color-green-300: #44cbac;
  --color-green-400: #0ea184;
  --color-green-500: #007f66;
  --color-green-600: #006450;
  --color-green-700: #085040;
  --color-green-800: #0d3e31;
  --color-green-900: #0f2d25;
  --color-info-50: #f7f6ff;
  --color-info-100: #eae7ff;
  --color-info-200: #d9d4ff;
  --color-info-300: #b8a9ff;
  --color-info-400: #9373ff;
  --color-info-500: #6e3fff;
  --color-info-600: #5319e0;
  --color-info-700: #4715af;
  --color-info-800: #401791;
  --color-info-900: #2f1469;
  --color-orange-50: #fff6e7;
  --color-orange-100: #ffe6bd;
  --color-orange-200: #fdd291;
  --color-orange-300: #ffa037;
  --color-orange-400: #e26e00;
  --color-orange-500: #ba5200;
  --color-orange-600: #953d00;
  --color-orange-700: #7a2f00;
  --color-orange-800: #612300;
  --color-orange-900: #491901;
  --color-pink-50: #fff4fe;
  --color-pink-100: #ffe2fb;
  --color-pink-200: #fec7f8;
  --color-pink-300: #f592f3;
  --color-pink-400: #de53e0;
  --color-pink-500: #bc29bd;
  --color-pink-600: #9d039e;
  --color-pink-700: #800081;
  --color-pink-800: #640664;
  --color-pink-900: #470e46;
  --color-primary-50: #f7f6ff;
  --color-primary-100: #eae7ff;
  --color-primary-200: #d9d4ff;
  --color-primary-300: #b8a9ff;
  --color-primary-400: #9373ff;
  --color-primary-500: #6e3fff;
  --color-primary-600: #5319e0;
  --color-primary-700: #4715af;
  --color-primary-800: #401791;
  --color-primary-900: #2f1469;
  --color-purple-50: #f7f6ff;
  --color-purple-100: #eae7ff;
  --color-purple-200: #d9d4ff;
  --color-purple-300: #b8a9ff;
  --color-purple-400: #9373ff;
  --color-purple-500: #6e3fff;
  --color-purple-600: #5319e0;
  --color-purple-700: #4715af;
  --color-purple-800: #401791;
  --color-purple-900: #2f1469;
  --color-red-50: #fff5f4;
  --color-red-100: #ffe4e2;
  --color-red-200: #ffccc8;
  --color-red-300: #ff9a94;
  --color-red-400: #f4595a;
  --color-red-500: #d92739;
  --color-red-600: #b30426;
  --color-red-700: #92001f;
  --color-red-800: #730019;
  --color-red-900: #580113;
  --color-success-50: #e8fcf5;
  --color-success-100: #bef6e3;
  --color-success-200: #8bebd0;
  --color-success-300: #44cbac;
  --color-success-400: #0ea184;
  --color-success-500: #007f66;
  --color-success-600: #006450;
  --color-success-700: #085040;
  --color-success-800: #0d3e31;
  --color-success-900: #0f2d25;
  --color-teal-50: #e7fbfb;
  --color-teal-100: #bbf4f3;
  --color-teal-200: #8be9e8;
  --color-teal-300: #3cc8cb;
  --color-teal-400: #019ea5;
  --color-teal-500: #007c85;
  --color-teal-600: #00626b;
  --color-teal-700: #0a4e57;
  --color-teal-800: #103b44;
  --color-teal-900: #102c33;
  --color-warning-50: #fff6e7;
  --color-warning-100: #ffe6bd;
  --color-warning-200: #fdd291;
  --color-warning-300: #ffa037;
  --color-warning-400: #e26e00;
  --color-warning-500: #ba5200;
  --color-warning-600: #953d00;
  --color-warning-700: #7a2f00;
  --color-warning-800: #612300;
  --color-warning-900: #491901;
  --color-yellow-50: #fdf8d2;
  --color-yellow-100: #faec79;
  --color-yellow-200: #f8d904;
  --color-yellow-300: #d7b300;
  --color-yellow-400: #ae8a00;
  --color-yellow-500: #8b6b00;
  --color-yellow-600: #705300;
  --color-yellow-700: #5b4300;
  --color-yellow-800: #483300;
  --color-yellow-900: #362500;
  --color-body-bg: var(--background);
  --color-subtle-bg: var(--muted);
  --color-body-text: var(--foreground);
  --color-subtle-text: var(--muted-foreground);
  --color-placeholder-color: var(--placeholder);
  --color-inverse-text: var(--inverse);
  --color-border-color: var(--border);
  --color-border-color-a11y: var(--border-a11y);
  --color-primary-fg: var(--primary-foreground);
  --color-danger-fg: var(--destructive-foreground);
  --color-warning-fg: var(--warning-foreground);
  --color-success-fg: var(--success-foreground);
  --color-info-fg: var(--info-foreground);
  --color-neutral-fg: var(--neutral-foreground);
  --color-primary-bg: var(--primary-background);
  --color-danger-bg: var(--destructive-background);
  --color-warning-bg: var(--warning-background);
  --color-success-bg: var(--success-background);
  --color-info-bg: var(--info-background);
  --color-neutral-bg: var(--neutral-background);
  --color-primary-bg-active: var(--primary-background-active);
  --color-danger-bg-active: var(--destructive-background-active);
  --color-warning-bg-active: var(--warning-background-active);
  --color-success-bg-active: var(--success-background-active);
  --color-info-bg-active: var(--info-background-active);
  --color-neutral-bg-active: var(--neutral-background-active);
  --color-primary-hover: var(--primary-hover);
  --color-danger-hover: var(--destructive-hover);
  --color-warning-hover: var(--warning-hover);
  --color-success-hover: var(--success-hover);
  --color-info-hover: var(--info-hover);
  --color-neutral-hover: var(--neutral-hover);
  --color-primary-active: var(--primary-active);
  --color-danger-active: var(--destructive-active);
  --color-warning-active: var(--warning-active);
  --color-success-active: var(--success-active);
  --color-info-active: var(--info-active);
  --color-neutral-active: var(--neutral-active);
  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded-base: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 624.938rem;
  --breakpoint-base: 0rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --text-3xs: 0.625rem;
  --text-2xs: 0.6875rem;
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-base: 0.875rem;
  --text-md: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.875rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --text-7xl: 3.75rem;
  --text-8xl: 4.5rem;
  --text-9xl: 6rem;
  --shadow-none: none;
  --shadow-xs: var(--shadow-extraSmall);
  --shadow-sm: var(--shadow-small);
  --shadow-base: var(--shadow-default);
  --shadow-md: var(--shadow-medium);
  --shadow-lg: var(--shadow-large);
  --shadow-xl: var(--shadow-extraLarge);
  --shadow-2xl: var(--shadow-2extraLarge);
  --shadow-outline: var(--shadow-focus);
  --shadow-inner: var(--shadow-inset);
  --shadow-dark-lg: var(--shadow-elevated);
  --color-primary-background: var(--primary-background);
  --color-success: var(--success);
  --color-danger: var(--destructive);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-neutral: var(--neutral);
  --color-sonner-error: var(--destructive-background);
  --color-color-yellow-900: var(----color-yellow-900);
  --color-color-yellow-800: var(----color-yellow-800);
  --color-color-yellow-700: var(----color-yellow-700);
  --color-color-yellow-600: var(----color-yellow-600);
  --color-color-yellow-500: var(----color-yellow-500);
  --color-color-yellow-400: var(----color-yellow-400);
  --color-color-yellow-300: var(----color-yellow-300);
  --color-color-yellow-200: var(----color-yellow-200);
  --color-color-yellow-100: var(----color-yellow-100);
  --color-color-yellow-50: var(----color-yellow-50);
  --color-color-warning-900: var(----color-warning-900);
  --color-color-warning-800: var(----color-warning-800);
  --color-color-warning-700: var(----color-warning-700);
  --color-color-warning-600: var(----color-warning-600);
  --color-color-warning-500: var(----color-warning-500);
  --color-color-warning-400: var(----color-warning-400);
  --color-color-warning-300: var(----color-warning-300);
  --color-color-warning-200: var(----color-warning-200);
  --color-color-warning-100: var(----color-warning-100);
  --color-color-warning-50: var(----color-warning-50);
  --color-color-teal-900: var(----color-teal-900);
  --color-color-teal-800: var(----color-teal-800);
  --color-color-teal-700: var(----color-teal-700);
  --color-color-teal-600: var(----color-teal-600);
  --color-color-teal-500: var(----color-teal-500);
  --color-color-teal-400: var(----color-teal-400);
  --color-color-teal-300: var(----color-teal-300);
  --color-color-teal-200: var(----color-teal-200);
  --color-color-teal-100: var(----color-teal-100);
  --color-color-teal-50: var(----color-teal-50);
  --color-color-success-900: var(----color-success-900);
  --color-color-success-800: var(----color-success-800);
  --color-color-success-700: var(----color-success-700);
  --color-color-success-600: var(----color-success-600);
  --color-color-success-500: var(----color-success-500);
  --color-color-success-400: var(----color-success-400);
  --color-color-success-300: var(----color-success-300);
  --color-color-success-200: var(----color-success-200);
  --color-color-success-100: var(----color-success-100);
  --color-color-success-50: var(----color-success-50);
  --color-color-red-900: var(----color-red-900);
  --color-color-red-800: var(----color-red-800);
  --color-color-red-700: var(----color-red-700);
  --color-color-red-600: var(----color-red-600);
  --color-color-red-500: var(----color-red-500);
  --color-color-red-400: var(----color-red-400);
  --color-color-red-300: var(----color-red-300);
  --color-color-red-200: var(----color-red-200);
  --color-color-red-100: var(----color-red-100);
  --color-color-red-50: var(----color-red-50);
  --color-color-purple-900: var(----color-purple-900);
  --color-color-purple-800: var(----color-purple-800);
  --color-color-purple-700: var(----color-purple-700);
  --color-color-purple-600: var(----color-purple-600);
  --color-color-purple-500: var(----color-purple-500);
  --color-color-purple-400: var(----color-purple-400);
  --color-color-purple-300: var(----color-purple-300);
  --color-color-purple-200: var(----color-purple-200);
  --color-color-purple-100: var(----color-purple-100);
  --color-color-purple-50: var(----color-purple-50);
  --color-color-primary-900: var(----color-primary-900);
  --color-color-primary-800: var(----color-primary-800);
  --color-color-primary-700: var(----color-primary-700);
  --color-color-primary-600: var(----color-primary-600);
  --color-color-primary-500: var(----color-primary-500);
  --color-color-primary-400: var(----color-primary-400);
  --color-color-primary-300: var(----color-primary-300);
  --color-color-primary-200: var(----color-primary-200);
  --color-color-primary-100: var(----color-primary-100);
  --color-color-primary-50: var(----color-primary-50);
  --color-color-pink-900: var(----color-pink-900);
  --color-color-pink-800: var(----color-pink-800);
  --color-color-pink-700: var(----color-pink-700);
  --color-color-pink-600: var(----color-pink-600);
  --color-color-pink-500: var(----color-pink-500);
  --color-color-pink-400: var(----color-pink-400);
  --color-color-pink-300: var(----color-pink-300);
  --color-color-pink-200: var(----color-pink-200);
  --color-color-pink-100: var(----color-pink-100);
  --color-color-pink-50: var(----color-pink-50);
  --color-color-orange-900: var(----color-orange-900);
  --color-color-orange-800: var(----color-orange-800);
  --color-color-orange-700: var(----color-orange-700);
  --color-color-orange-600: var(----color-orange-600);
  --color-color-orange-500: var(----color-orange-500);
  --color-color-orange-400: var(----color-orange-400);
  --color-color-orange-300: var(----color-orange-300);
  --color-color-orange-200: var(----color-orange-200);
  --color-color-orange-100: var(----color-orange-100);
  --color-color-orange-50: var(----color-orange-50);
  --color-color-info-900: var(----color-info-900);
  --color-color-info-800: var(----color-info-800);
  --color-color-info-700: var(----color-info-700);
  --color-color-info-600: var(----color-info-600);
  --color-color-info-500: var(----color-info-500);
  --color-color-info-400: var(----color-info-400);
  --color-color-info-300: var(----color-info-300);
  --color-color-info-200: var(----color-info-200);
  --color-color-info-100: var(----color-info-100);
  --color-color-info-50: var(----color-info-50);
  --color-color-green-900: var(----color-green-900);
  --color-color-green-800: var(----color-green-800);
  --color-color-green-700: var(----color-green-700);
  --color-color-green-600: var(----color-green-600);
  --color-color-green-500: var(----color-green-500);
  --color-color-green-400: var(----color-green-400);
  --color-color-green-300: var(----color-green-300);
  --color-color-green-200: var(----color-green-200);
  --color-color-green-100: var(----color-green-100);
  --color-color-green-50: var(----color-green-50);
  --color-color-gray-900: var(----color-gray-900);
  --color-color-gray-800: var(----color-gray-800);
  --color-color-gray-700: var(----color-gray-700);
  --color-color-gray-600: var(----color-gray-600);
  --color-color-gray-500: var(----color-gray-500);
  --color-color-gray-400: var(----color-gray-400);
  --color-color-gray-300: var(----color-gray-300);
  --color-color-gray-200: var(----color-gray-200);
  --color-color-gray-100: var(----color-gray-100);
  --color-color-gray-50: var(----color-gray-50);
  --color-color-danger-900: var(----color-danger-900);
  --color-color-danger-800: var(----color-danger-800);
  --color-color-danger-700: var(----color-danger-700);
  --color-color-danger-600: var(----color-danger-600);
  --color-color-danger-500: var(----color-danger-500);
  --color-color-danger-400: var(----color-danger-400);
  --color-color-danger-300: var(----color-danger-300);
  --color-color-danger-200: var(----color-danger-200);
  --color-color-danger-100: var(----color-danger-100);
  --color-color-danger-50: var(----color-danger-50);
  --color-color-cyan-900: var(----color-cyan-900);
  --color-color-cyan-800: var(----color-cyan-800);
  --color-color-cyan-700: var(----color-cyan-700);
  --color-color-cyan-600: var(----color-cyan-600);
  --color-color-cyan-500: var(----color-cyan-500);
  --color-color-cyan-400: var(----color-cyan-400);
  --color-color-cyan-300: var(----color-cyan-300);
  --color-color-cyan-200: var(----color-cyan-200);
  --color-color-cyan-100: var(----color-cyan-100);
  --color-color-cyan-50: var(----color-cyan-50);
  --color-color-blue-900: var(----color-blue-900);
  --color-color-blue-800: var(----color-blue-800);
  --color-color-blue-700: var(----color-blue-700);
  --color-color-blue-600: var(----color-blue-600);
  --color-color-blue-500: var(----color-blue-500);
  --color-color-blue-400: var(----color-blue-400);
  --color-color-blue-300: var(----color-blue-300);
  --color-color-blue-200: var(----color-blue-200);
  --color-color-blue-100: var(----color-blue-100);
  --color-color-blue-50: var(----color-blue-50);
  --color-color-blackAlpha-900: var(----color-blackAlpha-900);
  --color-color-blackAlpha-800: var(----color-blackAlpha-800);
  --color-color-blackAlpha-700: var(----color-blackAlpha-700);
  --color-color-blackAlpha-600: var(----color-blackAlpha-600);
  --color-color-blackAlpha-500: var(----color-blackAlpha-500);
  --color-color-blackAlpha-400: var(----color-blackAlpha-400);
  --color-color-blackAlpha-300: var(----color-blackAlpha-300);
  --color-color-blackAlpha-200: var(----color-blackAlpha-200);
  --color-color-blackAlpha-100: var(----color-blackAlpha-100);
  --color-color-blackAlpha-50: var(----color-blackAlpha-50);
  --color-color-whiteAlpha-900: var(----color-whiteAlpha-900);
  --color-color-whiteAlpha-800: var(----color-whiteAlpha-800);
  --color-color-whiteAlpha-700: var(----color-whiteAlpha-700);
  --color-color-whiteAlpha-600: var(----color-whiteAlpha-600);
  --color-color-whiteAlpha-500: var(----color-whiteAlpha-500);
  --color-color-whiteAlpha-400: var(----color-whiteAlpha-400);
  --color-color-whiteAlpha-300: var(----color-whiteAlpha-300);
  --color-color-whiteAlpha-200: var(----color-whiteAlpha-200);
  --color-color-whiteAlpha-100: var(----color-whiteAlpha-100);
  --color-color-whiteAlpha-50: var(----color-whiteAlpha-50);
  --color-color-white: var(----color-white);
  --color-color-black: var(----color-black);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-white);
  --foreground: var(--color-blackAlpha-900);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--color-primary-500);
  --primary-foreground: var(--color-primary-600);
  --secondary: var(--muted);
  --secondary-foreground: var(--foreground);
  --muted: var(--color-gray-50);
  --muted-foreground: var(--color-blackAlpha-500);
  --accent: var(--muted);
  --accent-foreground: var(--foreground);
  --destructive: var(--color-danger-500);
  --border: var(--color-blackAlpha-200);
  --input: var(--color-blackAlpha-400);
  --ring: #6987f9;
  --chart-1: #4e41cc;
  --chart-2: #0fb5ae;
  --chart-3: #f08910;
  --chart-4: #33c5e8;
  --chart-5: #e055e2;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --placeholder: var(--color-blackAlpha-400);
  --inverse: var(--color-white);
  --border-a11y: var(--color-blackAlpha-400);
  --destructive-foreground: var(--color-danger-600);
  --warning-foreground: var(--color-warning-600);
  --success-foreground: var(--color-success-600);
  --info-foreground: var(--color-info-600);
  --neutral-foreground: var(--color-blackAlpha-600);
  --primary-background: var(--color-primary-100);
  --destructive-background: var(--color-danger-100);
  --warning-background: var(--color-warning-100);
  --success-background: var(--color-success-100);
  --info-background: var(--color-info-100);
  --neutral-background: var(--color-blackAlpha-100);
  --primary-background-active: var(--color-primary-200);
  --destructive-background-active: var(--color-danger-200);
  --warning-background-active: var(--color-warning-200);
  --success-background-active: var(--color-success-200);
  --info-background-active: var(--color-info-200);
  --neutral-background-active: var(--color-blackAlpha-200);
  --success: var(--color-success-500);
  --warning: var(--color-warning-500);
  --info: var(--color-info-500);
  --neutral: var(--color-blackAlpha-500);
  --primary-hover: var(--color-primary-600);
  --destructive-hover: var(--color-danger-600);
  --success-hover: var(--color-success-600);
  --warning-hover: var(--color-warning-600);
  --info-hover: var(--color-info-600);
  --neutral-hover: var(--color-neutral-600);
  --primary-active: var(--color-primary-700);
  --destructive-active: var(--color-danger-700);
  --success-active: var(--color-success-700);
  --warning-active: var(--color-warning-700);
  --info-active: var(--color-info-700);
  --neutral-active: var(--color-neutral-700);
  --shadow-extraSmall: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-extraLarge: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2extraLarge: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-focus: 0 0 0 3px rgba(110, 63, 255, 0.6);
  --shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-elevated: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

.dark {
  --background: var(--color-gray-800);
  --foreground: var(--color-white);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--color-primary-200);
  --primary-foreground: var(--color-primary-200);
  --secondary: var(--muted);
  --secondary-foreground: var(--foreground);
  --muted: var(--color-gray-900);
  --muted-foreground: var(--color-whiteAlpha-600);
  --accent: var(--muted);
  --accent-foreground: var(--foreground);
  --destructive: var(--color-danger-200);
  --border: var(--color-whiteAlpha-200);
  --input: var(--color-whiteAlpha-500);
  --ring: #6987f9;
  --chart-1: var(--color-purple-500);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-cyan-500);
  --chart-4: var(--color-teal-500);
  --chart-5: var(--color-green-500);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  --placeholder: var(--color-whiteAlpha-500);
  --inverse: var(--color-blackAlpha-900);
  --border-a11y: var(--color-whiteAlpha-400);
  --destructive-foreground: var(--color-danger-200);
  --warning-foreground: var(--color-warning-200);
  --success-foreground: var(--color-success-200);
  --info-foreground: var(--color-info-200);
  --neutral-foreground: var(--color-whiteAlpha-700);
  --primary-background: rgba(217, 212, 255, 0.12);
  --destructive-background: rgba(255, 204, 200, 0.12);
  --warning-background: rgba(253, 210, 145, 0.12);
  --success-background: rgba(139, 235, 208, 0.12);
  --info-background: rgba(217, 212, 255, 0.12);
  --neutral-background: var(--color-whiteAlpha-100);
  --primary-background-active: rgba(217, 212, 255, 0.24);
  --destructive-background-active: rgba(255, 204, 200, 0.24);
  --warning-background-active: rgba(253, 210, 145, 0.24);
  --success-background-active: rgba(139, 235, 208, 0.24);
  --info-background-active: rgba(217, 212, 255, 0.24);
  --neutral-background-active: var(--color-whiteAlpha-300);
  --success: var(--color-success-200);
  --warning: var(--color-warning-200);
  --info: var(--color-info-200);
  --neutral: var(--color-whiteAlpha-600);
  --primary-hover: var(--color-primary-300);
  --destructive-hover: var(--color-danger-300);
  --success-hover: var(--color-success-300);
  --warning-hover: var(--color-warning-300);
  --info-hover: var(--color-info-300);
  --neutral-hover: var(--color-neutral-300);
  --primary-active: var(--color-primary-400);
  --destructive-active: var(--color-danger-400);
  --success-active: var(--color-success-400);
  --warning-active: var(--color-warning-400);
  --info-active: var(--color-info-400);
  --neutral-active: var(--color-neutral-400);
  --shadow-extraSmall: 0 0 0 1px rgba(255, 255, 255, 0.05);
  --shadow-small: 0 1px 2px 0 rgba(255, 255, 255, 0.05);
  --shadow-default: 0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(255, 255, 255, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05);
  --shadow-extraLarge: 0 20px 25px -5px rgba(255, 255, 255, 0.1), 0 10px 10px -5px rgba(255, 255, 255, 0.04);
  --shadow-2extraLarge: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
  --shadow-focus: 0 0 0 3px rgba(110, 63, 255, 0.6);
  --shadow-inset: inset 0 2px 4px 0 rgba(255, 255, 255, 0.06);
  --shadow-elevated: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px, rgba(255, 255, 255, 0.2) 0px 5px 10px, rgba(255, 255, 255, 0.4) 0px 15px 40px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
