@layer base {
  /*
  @import './_fonts/_avenir_next_r.css';
  @import './_fonts/_avenir_next_cn.css';
  @import './_fonts/_avenir_next_lt_pro.css';
*/
  .anchor svg {
    display: inline;
  }

  html {
    min-height: 100%;
  }

  @media (prefers-color-scheme: dark) {
    html {
      background: theme('colors.charcoal.DEFAULT');
    }
  }

  body {
    @apply text-base;
    color: theme('colors.charcoal.DEFAULT');
    font-family: var(--font-avenirnext-r);
  }

  /* stylelint-disable -- We need these selectors in this order specifically for Safari. */
  *:focus {
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
  }

  *:focus:not(:focus-visible) {
    outline: none;
  }

  *:focus-visible {
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
  }
  /* stylelint-enable */

  /*  Highlight links that do not have an href or that have # for "authoring" assistance */
  /* purgecss ignore *
  a:not([href]),
  a[href=''],
  a[href='#'],
  a[href='/#'] {
    color: theme('colors.red.DEFAULT');
  }
  */
}
