@layer utilities {
  /**
   * Themes
   */
  .theme-light {
    --theme-bg-alt: theme('colors.gray.100');
    --theme-bg: theme('colors.white');
    --theme-outline: theme('colors.gray.600');
    --theme-text-alt: theme('colors.gray.800');
    --theme-text: theme('colors.gray.600');
    --theme-border: theme('colors.gray.300');
    --theme-border-alt: theme('colors.gray.300');
    --theme-shadow: theme('boxShadow.DEFAULT');
    --theme-shadow-md: theme('boxShadow.md');
    --theme-shadow-lg: theme('boxShadow.lg');
    --theme-link-hover: theme('colors.primary.800');
  }

  .theme-dark {
    --theme-bg-alt: theme('colors.gray.700');
    --theme-bg: theme('colors.gray.800');
    --theme-outline: theme('colors.white');
    --theme-text-alt: theme('colors.gray.100');
    --theme-text: theme('colors.white');
    --theme-border: theme('colors.gray.700');
    --theme-border-alt: theme('colors.gray.700');
    --theme-shadow: theme('boxShadow.dark');
    --theme-shadow-md: theme('boxShadow.md-dark');
    --theme-shadow-lg: theme('boxShadow.lg-dark');
    --theme-link-hover: theme('colors.teal.600');
  }

  /**
   * Headings
   */
  .heading-xl {
    @apply font-ltpro font-regular text-3xl leading-none md:text-4xl !important;
  }

  .heading-lg {
    @apply font-ltpro font-regular text-2xl leading-tight md:text-3xl !important;
  }

  .heading-md {
    @apply font-ltpro text-xl leading-tight md:text-2xl !important;
  }

  .heading-sm {
    @apply font-ltpro text-base font-semibold leading-tight md:text-lg !important;
  }

  .heading-xs {
    @apply text-sm font-semibold leading-normal md:text-base !important;
  }

  /**
   * Gutters
   */
  .px-gutter-all {
    @apply px-gutter md:px-gutter-md lg:px-gutter-lg !important;
  }

  /**
   * Scroll Offset
   */
  .scroll-to-offset * {
    scroll-margin-top: theme('spacing.36') !important;
  }

  .prose code:after,
  .prose code:before {
    content: '';
  }

  .prose .not-prose h2 {
    margin-top: 0;
  }
}
