@import 'tailwindcss/base';
@import './_base.css';

@import 'tailwindcss/components';

@import '../layouts/components/header/Nav.styles.css';
@import '../layouts/components/header/NavMenu.styles.css';
@import '../components/video/VideoPromo.styles.css';
@import '../layouts/components/sidebar/SidebarNav.styles.css';
@import './buttons.css';
/* Utilities */
@import 'tailwindcss/utilities';

/* @TODO: Split these into separate utilities as they grow? */
@import './_utilities.css';

:where(h2, h3, h4, h5, h6) a.anchor {
  opacity: 0;
  transition: 0.3s;
  margin-left: 4pt;
}
:where(h2, h3, h4, h5, h6):hover a.anchor {
  opacity: 1;
}
