@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Avenir Next';
    font-weight: 400;
    src: url(/fonts/AvenirNext-Regular--latin.woff2) format('woff2'),
      url(/fonts/AvenirNext-Regular--latin.woff2) format('woff');
  }
  @font-face {
    font-display: swap;
    font-family: 'Avenir Next';
    font-weight: 600;
    src: url(/fonts/AvenirNext-Demi--latin.woff2) format('woff2'),
      url(/fonts/AvenirNext-Demi--latin.woff2) format('woff');
  }
  @font-face {
    font-display: swap;
    font-family: 'Avenir Next';
    font-weight: 700;
    src: url(/fonts/AvenirNext-Bold--latin.woff2) format('woff2'),
      url(/fonts/AvenirNext-Bold--latin.woff2) format('woff');
  }

  body {
    @apply text-base;
    color: theme('colors.charcoal');
  }

  /* stylelint-disable -- We need these selectors in this order specifically for Safari. */
  *:focus {
    outline-color: theme('colors.charcoal');
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
  }

  *:focus:not(:focus-visible) {
    outline: none;
  }

  *:focus-visible {
    outline-color: theme('colors.charcoal');
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
  }
  /* stylelint-enable */

  /*  Highlight links that do not have an href or that have # for "authoring" assistance */
  /* purgecss ignore */
  a:not([href]),
  a[href=""],
  a[href="#"],
  a[href="/#"] {
    color: theme('colors.red') !important;
  }
}
